extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
      form.form.form--login
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(
            type='email',
            placeholder='you@example.com',
            required,
            autocomplete='username'
          )
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(
            type='password',
            placeholder='••••••••',
            required,
            minlength='8',
            autocomplete='current-password'
          )
        .form__group
          button.btn.btn--green(type='submit') Login
        .form__group
          p.form__text
            | Don't have an account? 
            a(href='/signup') Sign up

block append scripts
  script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
  script.
    // Make axios available globally
    window.axios = axios;
  script(src='/js/alerts.js')
  script(src='/js/login.js')
